<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
   http://java.sun.com/xml/ns/j2ee/web-app_2_5.xsd">

   <display-name>Address Book</display-name>

   <!-- Setup servlet mappings -->
   <servlet>
      <servlet-name>addressbook</servlet-name>
      <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
      <load-on-startup>1</load-on-startup>
   </servlet>

   <servlet-mapping>
      <servlet-name>addressbook</servlet-name>
      <url-pattern>/</url-pattern>
   </servlet-mapping>

   <!-- Load in our application context files -->
   <context-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>
         /WEB-INF/application-context.xml
      </param-value>
   </context-param>

   <listener>
      <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
   </listener>

   <!-- Setup log4j configuration -->
   <context-param>
      <param-name>log4jExposeWebAppRoot</param-name>
      <param-value>false</param-value>
   </context-param>

   <context-param>
      <param-name>log4jConfigLocation</param-name>
      <param-value>file:${addressbook.log4j.file}</param-value>
   </context-param>

   <listener>
      <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
   </listener>

</web-app>
